body{
    background-color: aquamarine;
}

#object{
    width: 240px;
}

.copy_right_footer{
    width: 100%;
    background-color: white;
    border-radius: 20px;
    bottom: 0px;
    position: fixed;
    line-height: 3;
}

.heading{
font-size: 30px;
}

canvas{
    border: 10px rgb(68, 67, 67) ridge;
}